.btn {
    width: max-content;
    padding: var(--padding-s);
    color: var(--color-darkgray);
    background-image: linear-gradient(
        to bottom right,
        var(--color-piggypink),
        var(--color-cottoncandy),
        var(--color-mintcream)
    );
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -2px -2px 6px 1px var(--color-mintcream),
        2px 2px 6px 1px var(--color-gray);
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: -2px -2px 6px 1px var(--color-mintcream),
        2px 4px 6px 1px var(--color-gray);
    transition: all 0.16s ease;
}

.navbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.navbtn:hover {
    transition: all 0.2s ease;
}

.nav-btn-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media screen and (max-width: 767px) {
    .nav-btn-container {
        flex-direction: row;
    }
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 1.6rem;
    margin: 3rem;
    background-color: var(--primary-color);
    border-radius: 12px;
    box-shadow: -2px -2px 6px 1px rgb(100, 100, 100),
        3px 3px 4px 4px rgba(0, 0, 0, 0.6);
}
