/* HELPER CLASSES - MISC PROPERTIES */
/* WIDTH */
.w-max-content {
  width: max-content;
}
.w-100 {
  width: 100%;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}

/* DISPLAY */
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.inline-block {
  display: inline-block;
}

/* POSITIONING */
.block-center {
  margin: 0 auto;
}
.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* HELPER CLASSES - TYPOGRAPHY */
/* FONT-FAMILY */
.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}
.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

/* FONT-SIZE */
.txt-size-xs {
  font-size: var(--font-size-xs);
}
.txt-size-s {
  font-size: var(--font-size-s);
}
.txt-size-m {
  font-size: var(--font-size-m);
}
.txt-size-l {
  font-size: var(--font-size-l);
}
.txt-size-xl {
  font-size: var(--font-size-xl);
}
.txt-size-title {
  font-size: var(--font-size-title);
}

/* LINE-HEIGHT */
.line-height-s {
  line-height: var(--line-height-s);
}
.line-height-m {
  line-height: var(--line-height-m);
}
.line-height-l {
  line-height: var(--line-height-l);
}

/* TEXT-ALIGN */
.txt-center {
  text-align: center;
}
.txt-start {
  text-align: start;
}
.txt-end {
  text-align: end;
}
.txt-justify {
  text-align: justify;
}

/* HELPER CLASSES - COLORS */
/* COLORS - TEXT */
.txt-darkgray {
  color: var(--color-darkgray);
}
.txt-gray {
  color: var(--color-gray);
}
.txt-mintcream {
  color: var(--color-mintcream);
}

/* COLORS - BACKGROUND */
.bg-skyblue {
  background-color: var(--color-skyblue);
}
.bg-celeste {
  background-color: var(--color-celeste);
}
.bg-mintcream {
  background-color: var(--color-mintcream);
}
.bg-cottoncandy {
  background-color: var(--color-cottoncandy);
}
.bg-piggypink {
  background-color: var(--color-piggypink);
}

/* HELPER CLASSES - FLEX */
/* FLEX - LAYOUT */
.row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.row-wrap-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
}
.row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}
.row-nowrap-reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
}
.column {
  display: flex;
  flex-direction: column;
}

/* FLEX - JUSTIFY CONTENT */
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* FLEX - ALIGN ITEMS */
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}

/* HELPER CLASSES - MARGIN & PADDING */
/* MARGIN - ALL */
.m-0 {
  margin: 0;
}
.m-xs {
  margin: var(--margin-xs);
}
.m-s {
  margin: var(--margin-s);
}
.m-m {
  margin: var(--margin-m);
}
.m-l {
  margin: var(--margin-l);
}
.m-xl {
  margin: var(--margin-xl);
}

/* MARGIN TOP */
.m-t-0 {
  margin-top: 0;
}
.m-t-xs {
  margin-top: var(--margin-xs);
}
.m-t-s {
  margin-top: var(--margin-s);
}
.m-t-m {
  margin-top: var(--margin-m);
}
.m-t-l {
  margin-top: var(--margin-l);
}
.m-t-xl {
  margin-top: var(--margin-xl);
}

/* MARGIN BOTTOM */
.m-b-0 {
  margin-bottom: 0;
}
.m-b-xs {
  margin-bottom: var(--margin-xs);
}
.m-b-s {
  margin-bottom: var(--margin-s);
}
.m-b-m {
  margin-bottom: var(--margin-m);
}
.m-b-l {
  margin-bottom: var(--margin-l);
}
.m-b-xl {
  margin-bottom: var(--margin-xl);
}

/* MARGIN LEFT */
.m-l-0 {
  margin-left: 0;
}
.m-l-xs {
  margin-left: var(--margin-xs);
}
.m-l-s {
  margin-left: var(--margin-s);
}
.m-l-m {
  margin-left: var(--margin-m);
}
.m-l-l {
  margin-left: var(--margin-l);
}
.m-l-xl {
  margin-left: var(--margin-xl);
}

/* MARGIN RIGHT */
.m-r-0 {
  margin-right: 0;
}
.m-r-xs {
  margin-right: var(--margin-xs);
}
.m-r-s {
  margin-right: var(--margin-s);
}
.m-r-m {
  margin-right: var(--margin-m);
}
.m-r-l {
  margin-right: var(--margin-l);
}
.m-r-xl {
  margin-right: var(--margin-xl);
}

/* PADDING - ALL */
.p-0 {
  padding: 0;
}
.p-xs {
  padding: var(--padding-xs);
}
.p-s {
  padding: var(--padding-s);
}
.p-m {
  padding: var(--padding-m);
}
.p-l {
  padding: var(--padding-l);
}
.p-xl {
  padding: var(--padding-xl);
}

/* PADDING - TOP */
.p-t-0 {
  padding-top: 0;
}
.p-t-xs {
  padding-top: var(--padding-xs);
}
.p-t-s {
  padding-top: var(--padding-s);
}
.p-t-m {
  padding-top: var(--padding-m);
}
.p-t-l {
  padding-top: var(--padding-l);
}
.p-t-xl {
  padding-top: var(--padding-xl);
}

/* PADDING - BOTTOM */
.p-b-0 {
  padding-bottom: 0;
}
.p-b-xs {
  padding-bottom: var(--padding-xs);
}
.p-b-s {
  padding-bottom: var(--padding-s);
}
.p-b-m {
  padding-bottom: var(--padding-m);
}
.p-b-l {
  padding-bottom: var(--padding-l);
}
.p-b-xl {
  padding-bottom: var(--padding-xl);
}

/* PADDING - LEFT */
.p-l-0 {
  padding-left: 0;
}
.p-l-xs {
  padding-left: var(--padding-xs);
}
.p-l-s {
  padding-left: var(--padding-s);
}
.p-l-m {
  padding-left: var(--padding-m);
}
.p-l-l {
  padding-left: var(--padding-l);
}
.p-l-xl {
  padding-left: var(--padding-xl);
}

/* PADDING - RIGHT */
.p-r-0 {
  padding-right: 0;
}
.p-r-xs {
  padding-right: var(--padding-xs);
}
.p-r-s {
  padding-right: var(--padding-s);
}
.p-r-m {
  padding-right: var(--padding-m);
}
.p-r-l {
  padding-right: var(--padding-l);
}
.p-r-xl {
  padding-right: var(--padding-xl);
}
