.hero {
    display: flex;
    flex-direction: row;
    padding: 6rem;
}

.hero-title {
    color: var(--color-mintcream);
}

.hero-one {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 3rem;
}

.hero-pic {
    width: 48%;
}

.hero-mail {
    border: 2px solid pink;
    background-color: transparent;
    padding: 0.8rem;
    margin-right: 2rem;
}
.hero-mail::placeholder{text-align: left;
color: var(--color-piggypink)}

.hero-btn {
    background-color: var(--color-piggypink);
    color: aliceblue;
    padding: 1.2rem;
    margin-left: 0.2rem;

}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .hero {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 6rem;
    }

    .hero-pic {
        width: 100%;
    }

    .hero-title {
        width: 100%;
        padding: 0 5.2rem;

    }

    .hero-one {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .hero-one > div > p {
        text-align: center;
    }
}