/* resets.css contains global resets */
@import "resets.css";

/* root.css contains theming styles and variables */
@import "theme.css";

/* layout.css contains main components style and structure */
@import "layout.css";

/* components.css contains smaller components style and structure */
@import "components.css";

/* images.css contains image classes, either via background-image or img tag */
@import "images.css";

/* typography.css contains text classes */
@import "typography.css";

/* animations.css is for storing animation classes and @keyframes */
@import "animations.css";

/* helpers.css contains helper classes. Keep it always the last import */
@import "helpers.css";

/* homepage list component */
@import "lists.css";

/* hero component */
@import "hero.css";

/* pricing component */
@import "pricing.css";

/* pricing wrapper component */
@import "pricingWrapper.css";
