.card {
    border: 2px solid  var(--color-darkgray);
    box-shadow: none;
    width: 50%;
    align-self: center;
    font-family: 'Quicksand', sans-serif;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    text-align: center;
}

.price>h2 {
    color: var(--color-mintcream);
}

.price>ul>li {
    padding: 1rem;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: var(--color-celeste);
}

.ghost {
    height: calc(var(--font-size-m));
}

.pricing-btn1 {
    background-color: var(--color-piggypink);
    border: 2px solid #F7D6E0;
    color: #555555;
    font-weight: 600;
}