.pricing-card {
    align-items: center;
    border-image: linear-gradient(
        var(--color-piggypink),
        var(--color-cottoncandy)
    );
    border-style: solid;
    border: 2px solid transparent;
    border-image-slice: 1;
    box-shadow: none;
    width: 50%;
    align-self: center;
}

.savings-info {
    height: calc(var(--font-size-m));
}
